<!DOCTYPE html>
<html>
  <head>
    <title>Tiệm quần áo Bee</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<style media="screen">
  #content {
    margin-top: 30px;
  }
</style>
  <body style="background-color: #FDFDFD;">
    <%= render 'layouts/header' %>
    <div class="container" id="content">
        <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
